* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background-color: #ffffff;
  background-size: cover;
}

a {
  color: unset;
  text-decoration: none;
}

.car-bg {
  background-color: #04112c;
  background-image: url(assets/images/brand-pattern.svg);
  background-size: contain;
}

.contact-bg {
  background-color: #fff;
  background-image: url(assets/images/brand-pattern2.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-slide-active {
  display: block;
  width: 33% !important;
  height: 100%;
  background: #f1eeee;
  -o-object-fit: cover;
  object-fit: cover;
  /* border-radius: 8px; */
  overflow: hidden;
}

.swiper-slide-next {
  display: block;
  width: 33% !important;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-pagination-af {
  position: unset !important;
  display: block;
}

.swiper-pagination-af .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 2px solid #232323 !important;
  background: unset !important;
  opacity: 1;
}

.swiper-pagination-af .swiper-pagination-bullet-active {
  background: #232323 !important;
}

/* story */
.swiper-pagination-story {
  position: unset !important;
  display: block;
}

.swiper-pagination-story .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 2px solid #232323 !important;
  background: unset !important;
  opacity: 1;
}

.swiper-pagination-story .swiper-pagination-bullet-active {
  background: #232323 !important;
}

  /* single place */
.single-view .swiper-slide-active {
  display: block;
  width: 100% !important;
  height: 100%;
  background: transparent;
  -o-object-fit: cover;
  object-fit: cover;
  /* border-radius: 8px; */
  overflow: hidden;
}

.single-view .swiper-slide-next {
  display: block;
  width: 100% !important;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


/* slide-image */
.slide-image .swiper-slide-next {
  display: block;
  width: 33% !important;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide-image .swiper-slide-active {
  display: block;
  width: 33% !important;
  height: 100%;
  background: transparent;
  -o-object-fit: cover;
  object-fit: cover;
  /* border-radius: 8px; */
  overflow: hidden;
}

/* swiper-slide  swiper-slide-duplicate-prev */



@media screen and (max-width: 767px) {
  .swiper-slide-active {
    display: block;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
  }

  .swiper-slide-next {
    display: block;
    width: 100% !important;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  /* single-view */
  .single-view .swiper-slide-active {
    display: block;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
  }

  .single-view .swiper-slide-next {
    display: block;
    width: 100% !important;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  /* slide image */

  .slide-image .swiper-slide-active {
    display: block;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
  }

  .slide-image .swiper-slide-next {
    display: block;
    width: 100% !important;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }


  .resize {
    width: calc(100vw / 2 - -40px) !important;
    height: calc((100vw / 2 - 40px) * 1.34) !important;
    border-radius: 16px;
  }
}

.blur-border {
  position: relative;
  border: solid 1.5rem rgba(#000, 0.03);
  background: #f6a487 10% / cover border-box /* background-origin */ padding-box
    /* background-clip */;
}

.blur-border::before {
  position: absolute;
  z-index: -1; /* put it *behind* parent */
  /* go outside padding-box by 
   * a border-width ($b) in every direction */
  top: -1.5rem;
  right: -1.5rem;
  bottom: -1.5rem;
  left: -1.5rem;
  border: inherit;
  border-color: transparent;
  background: inherit;
  background-clip: border-box;
  /* -webkit-prefixed version 
   * still needed for 
   * some mobile browsers 💔😭 */
  -webkit-filter: blur(9px);
  filter: blur(9px);
  content: "";
}

.bg-banner {
  background: url(./assets/images/abstract.png), #a44b2b34;

  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: censter; */
}



.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgb(83, 47, 0) 0%,
    rgb(24, 16, 4) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgb(83, 47, 0) 0%,
    rgb(24, 16, 4) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgb(83, 47, 0) 0%,
    rgb(24, 16, 4) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgb(83, 47, 0) 0%,
    rgb(24, 16, 4) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgb(83, 47, 0) 0%,
    rgb(24, 16, 4) 100%
  );
  background-blend-mode: overlay;
}